fastapi>=0.115.0
uvicorn
motor
pydantic>=2.9.0
email-validator
pydantic-settings
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pymongo
PyPDF2
google-genai
yt-dlp
httpx>=0.28.1
apscheduler
python-jobspy
jinja2
numpy==1.26.3
websockets>=13.0
